body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:926px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:926px;
  height:428px;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:926px;
  height:428px;
  display:flex;
}
#u1709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:44px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:normal;
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:279px;
  width:286px;
  height:44px;
  display:flex;
  font-family:"Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:normal;
}
#u1710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:normal;
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:279px;
  width:286px;
  height:44px;
  display:flex;
  font-family:"Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:normal;
}
#u1711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:44px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:12px;
  width:902px;
  height:44px;
  display:flex;
}
#u1712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:44px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1713 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:85px;
  width:49px;
  height:44px;
  display:flex;
}
#u1713 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:44px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:normal;
}
#u1714 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:361px;
  width:176px;
  height:44px;
  display:flex;
  font-family:"Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:normal;
}
#u1714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 128, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:36px;
  color:#000000;
  text-align:center;
}
#u1715 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:148px;
  width:800px;
  height:61px;
  display:flex;
  font-family:"Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:36px;
  color:#000000;
  text-align:center;
}
#u1715 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:56px;
}
#u1716 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:7px;
  width:62px;
  height:56px;
  display:flex;
}
#u1716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:54px;
}
#u1717 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:361px;
  width:60px;
  height:54px;
  display:flex;
}
#u1717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:44px;
}
#u1718 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:12px;
  width:54px;
  height:44px;
  display:flex;
}
#u1718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:44px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:normal;
}
#u1719 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:12px;
  width:176px;
  height:44px;
  display:flex;
  font-family:"Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:normal;
}
#u1719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:44px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:normal;
}
#u1720 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:12px;
  width:176px;
  height:44px;
  display:flex;
  font-family:"Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:normal;
}
#u1720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:297px;
}
#u1721 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:56px;
  width:585px;
  height:297px;
  display:flex;
}
#u1721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:44px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:normal;
}
#u1722 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:361px;
  width:176px;
  height:44px;
  display:flex;
  font-family:"Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:normal;
}
#u1722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
