.ax_default {
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.box_2 {
}
.line {
}
.box_3 {
}
.ellipse {
}
.shape {
}
.image {
}
.button {
  font-family:"Calibri Bold", "Calibri", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
.primary_button {
  font-family:"Calibri Bold", "Calibri", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
.link_button {
  color:#1E98D7;
}
.heading_1 {
  font-family:"Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:"Calibri Bold", "Calibri", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
.heading_3 {
  font-family:"Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:"Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:"Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:"Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-family:"Calibri Bold", "Calibri", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
.paragraph {
  font-family:"Calibri Bold", "Calibri", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.text_field {
  font-family:"Calibri Bold", "Calibri", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
}
.text_area {
  font-family:"Calibri Bold", "Calibri", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
}
.droplist {
  font-family:"Calibri Bold", "Calibri", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.flow_shape {
}
.line1 {
}
.connector {
}
.marker {
  color:#FFFFFF;
}
.menu_item {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.icon {
}
.checkbox1 {
  text-align:left;
}
.error1 {
  font-family:"Calibri Bold", "Calibri", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#D9001B;
}
.big_text {
  font-family:"Calibri Bold", "Calibri", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
  text-align:center;
}
.r_ponse_button {
  font-family:"Calibri Bold", "Calibri", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
textarea, select, input, button { outline: none; }
